@import url(index.css);

h2{
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 5px 5px #1111114d;
}

.form-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select, textarea {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

select:hover, textarea:hover{
    border-color: rgb(136, 136, 219);
}

textarea{
    resize: none;
}

.form-block.btn{
    flex-direction: row;
}

input[type="reset"],
input[type="submit"]{
    flex: 1;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

input[type="reset"]:hover,
input[type="submit"]:hover{
    background-color: #e8dfdf;
    outline: 0;
    border: 1px solid #ccc;
}